<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>预告片</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/dplayer/1.24.0/DPlayer.min.css" rel="stylesheet">
  <style>
    .container {
      padding: 0;
    }
    .btn.my-2.my-sm-0 {
      color: #fff;
      border-color: #fff;
    }
    .card-title {
      font-weight: bold;
    }
    .card-text {
      text-indent: 2rem;
    }
    .btn.btn-link.btn-block.text-left.collapsed,
    .btn-link:hover{
      color: #212529;
      text-decoration: none;
      padding: 0;
      margin-left: -.2rem;
    }
    .btn.focus, 
    .btn:focus{
      box-shadow: none;
    }
    .row {
      margin-right: 0px;
      margin-left: 0px;
    }
    .col {
      padding-right: 0px;
      padding-left: 0px;
    }
  </style>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand">预告片</a>
      <form class="form-inline" action="/search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
    <div class="row">
      <div class="col">
        <div class="card-group">
          <% data.forEach(function(item, index) { %>

            <div class="card">
              <img src="<%= mediaUrl %>/<%= item.posterKey %>" data-id="<%= item.doubanId %>" data-coverkey="<%= item.coverKey %>" data-videokey="<%= item.videoKey %>" class="card-img-top" alt="海报">
              <div class="card-body">
                <h5 class="card-title"><%= item.title %></h5>
                <p class="card-text"><%= item.summary %></p>
              </div>
              <div class="accordion" id="accordionExample">
                
                <div class="card">
                  <div class="card-header" id="heading<%= index %>">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse<%= index %>" aria-expanded="false" aria-controls="collapse<%= index %>">
                        了解更多
                      </button>
                    </h2>
                  </div>
                  <div id="collapse<%= index %>" class="collapse" aria-labelledby="heading<%= index %>" data-parent="#accordionExample">
                    <div class="card-body">
                      <ul class="list-group">
                        <li class="list-group-item">导演：<%= item.directors %></li>
                        <li class="list-group-item">主演：<%= item.actors.join('、') %></li>
                        <li class="list-group-item">评分：<%= item.score || '暂无评分' %></li>
                        <li class="list-group-item">类型：<%= item.genres.join(' ') %></li>
                        <li class="list-group-item">上映时间：<%= item.releaseDate %></li>
                        <li class="list-group-item">片长：<%= item.duration %></li>
                      </ul>
                    </div>
                  </div>
                </div>
                
              </div>
              <div class="card-footer">
                <small class="text-muted"><%= Math.ceil((Date.now() - item.createTime) / 86400000) %>天前</small>
              </div>
            </div>

          <% }) %>          
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div id="dplayer"></div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dplayer/1.24.0/DPlayer.min.js"></script>
  <script type="text/javascript">
    $(function() {
      
      var dp = null // 播放器
      var lastVideo = '' // 上次视频地址

      // 弹窗关闭时，暂停视频
      $('#myModal').on('hidden.bs.modal', function (e) { 
        dp.pause()
      })

      // 点击海报事件
      $('.card-img-top').click(function() {

        // 显示弹窗
        $('#myModal').modal('show')

        //获取播放地址及头图
        var video = $(this).data('videokey')
        var cover = $(this).data('coverkey')
        var doubanId = $(this).data('id')

        if(!dp) { // 创建播放器          
          dp = new DPlayer({
            container: document.getElementById('dplayer'),
            video: {
              url: `<%= mediaUrl %>/${video}`,
              pic: `<%= mediaUrl %>/${cover}`,
              thumbnails: `<%= mediaUrl %>/${cover}`,
            },
            danmaku: {
              id: doubanId,
              api: '<%= serverUrl %>/',
              maximum: 3000,
              user: 'DIYgod',
            },
          });
        }else { // 切换视频

          if(lastVideo === video) { //无需切换，继续播放
            dp.play()
          }else { //切换其他视频
            dp.switchVideo(
              {
                url: `<%= mediaUrl %>/${video}`,
                pic: `<%= mediaUrl %>/${cover}`,
                thumbnails: `<%= mediaUrl %>/${cover}`,
              },
              {
                id: doubanId,
                api: '<%= serverUrl %>/',
                maximum: 3000,
                user: 'DIYgod',
              }
            );

            lastVideo = video
          }
        }
      })
      
    })
  </script>
</body>
</html>